<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5level [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Example to log sql for specific mappers -->
    <!-- <logger name="reminder.discord.bot.java.mapper.DraftReminderMapper">
        <level value="debug"/>
    </logger> -->

    <root level="error">
        <appender-ref ref="stdout"/>
    </root>
</configuration>