<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Example to log sql for specific mappers -->
    <!-- <logger name="com.nicolauscg.reminder.discord.bot.mapper.DraftReminderMapper">
        <level value="debug"/>
    </logger> -->

    <!-- Make app log level as info but other libraries level as warning -->
    <logger name="com.nicolauscg.reminder.discord.bot" level="INFO" />
    <root level="warn">
        <appender-ref ref="stdout"/>
    </root>
</configuration>